/* 导航+标题start */
/* @font-face {
  font-family:sloganFont;
  src: url(https://cdn.jsdelivr.net/gh/cajunlei/ImageBed/fonts/slogan.woff2) format('woff2')
} */
@font-face {
  font-family:titleFont;
  src: url(https://cdn.jsdelivr.net/gh/cajunlei/ImageBed/fonts/title.woff2) format('woff2')
}
/* 导航+标题end */
/* 霞露文楷等宽start */
@font-face {
  font-family:LXGWFont;
  src: url(https://cdn.jsdelivr.net/gh/cajunlei/ImageBed/fonts/LXGWWenKaiMono-Regular.woff2) format('woff2')
}
/* 霞露文楷等宽end */
/* 时钟LED start */
@font-face {
  font-family:LED;
  src: url(/fonts/UniDreamLED-Regular.woff2) format('woff2')
}
/* 时钟LED end */
/* 文章链接末尾小图标start */
@font-face {
  font-family: 'iconfont';  /* Project id 3027393 */
  src: url('//at.alicdn.com/t/font_3027393_bqe7ffvyh.woff2?t=1641477988546') format('woff2'),
		url('//at.alicdn.com/t/font_3027393_bqe7ffvyh.woff?t=1641477988546') format('woff'),
		url('//at.alicdn.com/t/font_3027393_bqe7ffvyh.ttf?t=1641477988546') format('truetype');
}
/* 文章链接末尾小图标end */


/* 鸿蒙字体start */
/* @import url('//s1.hdslb.com/bfs/static/jinkela/long/font/regular.css');
@import url('//s1.hdslb.com/bfs/static/jinkela/long/font/medium.css'); */
/* 鸿蒙字体end */

/* 华康金刚黑start */
/* @import url('//fonts.bytedance.com/dfd/api/v1/css?family=DFPKingGothicGB-Regular&display=swap');
@import url('//fonts.bytedance.com/dfd/api/v1/css?family=DFPKingGothicGB-medium&display=swap'); */
/* 华康金刚黑end */

/* 小米字体start */
/* @import url('//font.sec.miui.com/font/css?family=MiSans:400,500,700:Chinese_Simplify,Latin&display=swap'); */
/* 小米字体end */

/* OPPO 字体start */
/* @font-face {
	font-family: OPPO-Sans;
	font-weight: 400;
	font-display: swap;
	src: url(//static.mastergo.com/static/font/OPPOSans/OPPOSans-Regular.woff2) format('woff2');
}
@font-face {
	font-family: OPPO-Sans;
	font-weight: 500;
	font-display: swap;
	src: url(//static.mastergo.com/static/font/OPPOSans/OPPOSans-Medium.woff2) format('woff2');
}
@font-face {
	font-family: OPPO-Sans;
	font-weight: 600;
	font-display: swap;
	src: url(//static.mastergo.com/static/font/OPPOSans/OPPOSans-Bold.woff2) format('woff2');
}
@font-face {
	font-family: OPPO-Sans;
	font-weight: 700;
	font-display: swap;
	src: url(//static.mastergo.com/static/font/OPPOSans/OPPOSans-Heavy.woff2) format('woff2');
} */
/* OPPO 字体end */

/* OPPO 字体start */
/* @font-face {
	font-family: OPPO-Sans;
	font-weight: 400;
	font-display: swap;
	src: url(//static.mastergo.com/static/font/OPPOSans/OPPOSans-Regular.woff2) format('woff2');
}
@font-face {
	font-family: OPPO-Sans;
	font-weight: 500;
	font-display: swap;
	src: url(//static.mastergo.com/static/font/OPPOSans/OPPOSans-Medium.woff2) format('woff2');
}
@font-face {
	font-family: OPPO-Sans;
	font-weight: 600;
	font-display: swap;
	src: url(//static.mastergo.com/static/font/OPPOSans/OPPOSans-Bold.woff2) format('woff2');
}
@font-face {
	font-family: OPPO-Sans;
	font-weight: 700;
	font-display: swap;
	src: url(//static.mastergo.com/static/font/OPPOSans/OPPOSans-Heavy.woff2) format('woff2');
} */
/* OPPO 字体end */

/* :root {
	--global-font-size: 16px !important;
} */
