/* 侧栏归档样式start */
.card-archive-list-count-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
span.card-category-list-name {
  font-size: 1.2em;
  line-height: 1.5em;
}
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1rem;
  line-height: 0.85;
  font-weight: bold;
}
.card-archive-list-date {
  font-size: 1rem;
  opacity: 0.6;
}
li.card-category-list-item {
  flex: 0 0 48%;
}
li.card-archive-list-item {
  flex: 0 0 48%;
}
#aside-content .card-widget {
  padding: 20px;
}
#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item,
#aside-content .card-categories ul.card-category-list > .card-category-list-item {
  padding: 0 2px;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: 1px solid #e3e8f7;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
  color: var(--white);
  background-color: var(--forecolor);
  box-shadow: 0 8px 12px -3px rgba(66, 89, 239, 0.137);
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child {
  width: fit-content;
  margin-left: 4px;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child {
  width: auto;
  flex: inherit;
}
@media screen and (min-width: 1300px) {
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active {
    transform: scale(0.97);
  }
}
/* 侧栏归档样式end */

/* 顶部小进度条start */
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 10px;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 8px;
  width: 4rem;
  background: #eaecf2;
  border: 1px #e3e8f7;
  overflow: hidden;
}
.pace-inactive .pace-progress {
  opacity: 0;
  transition: 0.3s ease-in;
}
.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: absolute;
  z-index: 2000;
  display: block;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 1.5s ease infinite;
  background-size: 200%;
}
.pace.pace-inactive {
  opacity: 0;
  transition: 0.3s;
  top: -8px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* 顶部小进度条end */

/* 白天夜晚切换动画start */
.Cuteen_DarkSky, .Cuteen_DarkSky:before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 88888888;
}
.Cuteen_DarkSky {
  background: linear-gradient(#feb8b0, #fef9db);
}
.Cuteen_DarkSky:before {
  transition: 2s ease all;
  opacity: 0;
  background: linear-gradient(#4c3f6d, #6c62bb, #93b1ed);
}
.DarkMode .Cuteen_DarkSky:before {
  opacity: 1;
}
.Cuteen_DarkPlanet {
  z-index: 99999999;
  position: fixed;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  -webkit-animation: CuteenPlanetMove 2s cubic-bezier(0.7, 0, 0, 1);
  animation: CuteenPlanetMove 2s cubic-bezier(0.7, 0, 0, 1);
  transform-origin: center bottom;
}
@-webkit-keyframes CuteenPlanetMove {
  0% {
    transform: rotate(0);
 }
  to {
    transform: rotate(360deg);
 }
}
.Cuteen_DarkPlanet:after {
  position: absolute;
  left: 35%;
  top: 40%;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  content: '';
  background: linear-gradient(#fefefe, #fffbe8);
}
.search span {
  display: none;
}
.menus_item a {
  text-decoration: none !important;
}
.icon-V {
  padding: 5px;
}
@-moz-keyframes CuteenPlanetMove {
  0% {
    transform: rotate(0);
 }
  to {
    transform: rotate(360deg);
 }
}
@-webkit-keyframes CuteenPlanetMove {
  0% {
    transform: rotate(0);
 }
  to {
    transform: rotate(360deg);
 }
}
@-o-keyframes CuteenPlanetMove {
  0% {
    transform: rotate(0);
 }
  to {
    transform: rotate(360deg);
 }
}
@keyframes CuteenPlanetMove {
  0% {
    transform: rotate(0);
 }
  to {
    transform: rotate(360deg);
 }
}
/* 白天夜晚切换动画end */
