main#content-inner {
  padding: 0;
}

main#content-inner #page {
  padding: 0;
}

main#content-inner #article-container #journal h2 {
  margin: 0;
}

main#content-inner #article-container #journal .top {
  padding: 0 1rem;
}

main#content-inner #article-container #journal .top p {
  margin: 0;
}

main#content-inner #article-container #journal .top .text {
  font-size: 1.2rem;
}
