main#content-inner {
  padding: 0;
  #page {
    padding: 0;
  }
  #article-container #journal {
    h2 {
      margin: 0;
    }
    .top {
      padding: 0 1rem;
      p {
        margin: 0;
      }
      .text {
        font-size: 1.2rem;
      }
    }
  }
}
