@mixin mobile {
  @media screen and (max-width:768px) {
    @content;
  }
}

body {
  cursor: url(/img/mouse/normal.cur),
    default;
  background: var(--ll-global-bg) !important;
}

a,
img {
  cursor: var(--ll-link);
}

// 文本样式start
#pagination .prev_info,
#pagination .next_info,
.relatedPosts-list .title,
#post-info h1.post-title {
  font-family: var(--fonts-heiti);
  font-weight: bold;
}

// 文章标题
#post-info h1.post-title {
  font-size: 3rem;
}

strong {
  color: var(--ll-main);
}

#article-container.post-content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-left: 2rem;
  }

  h1:before,
  h2:before,
  h3:before,
  h4:before,
  h5:before,
  h6:before {
    font-size: 1.25rem;
    color: var(--ll-red);
    margin-left: -2rem;
    top: calc(50% - 10px);
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    transform: translateX(.5rem);
  }

  h1:hover:before,
  h2:hover:before,
  h3:hover:before,
  h4:hover:before,
  h5:hover:before,
  h6:hover:before {
    color: var(--ll-main);
  }
}

a {
  color: var(--text-highlight-color);
}

main {

  // 页面宽度
  &#content-inner {
    max-width: 1300px;
  }

  // 链接小尾标
  #article-container {
    a[target=_blank]:after {
      font-family: iconfont;
      content: "\e004";
      color: #aaa !important;
      margin-left: 5px;
    }
  }
}

table th,
table td {
  padding: .3rem 1rem;
  border: 1px solid #e8e8e8;
}

// 文本样式end
// 图片圆角样式start
#pagination.pagination-post,
.relatedPosts>.relatedPosts-list>div,
.aside-list>.aside-list-item>a,
.article-sort-item>a,
#book img,
#post img {
  border-radius: 8px;
  box-shadow: var(--card-box-shadow);
}

// 图片圆角样式end
// 关于页面颜色start
#article-container .timeline .timeline-item .item-circle:before,
#article-container .timeline {
  border-color: var(--ll-red) !important;
}

#article-container .timeline .timeline-item.headline .timeline-item-title .item-circle::before,
#article-container .timeline .timeline-item .item-circle:hover:before {
  border-color: var(--ll-main) !important;
}

// 关于页面颜色end
// 搜索界面颜色start
#algolia-search .search-dialog {
  .search-nav {
    color: var(--ll-main) !important;
  }

  .ais-SearchBox input {
    border-color: var(--ll-main) !important;
  }

  .ais-Pagination .ais-Pagination-item--selected a {
    background: var(--ll-main);
  }
}

// 搜索界面颜色end
// 友链界面颜色start
.flink-list>a:hover:before {
  background-color: var(--ll-btn-bg) !important;
}

// 友链界面颜色end
// 滚动条颜色start
*::-webkit-scrollbar-thumb {
  background: var(--ll-main);
}

// 滚动条颜色end
// 标签页面start
.tag-cloud-list {
  a {
    border: 1px solid;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    color: var(--ll-fontcolor);
    border-radius: .5rem;
  }

  a:hover {
    background: var(--ll-btn-bg);
    color: var(--ll-btn-text) !important;
    border: var(--style-border-always);
    transform: scale(1.05);
  }
}

// 标签页面end
// 文章双栏布局微调start
#recent-posts {
  &>.recent-post-item {
    height: 16em;
    position: relative;
    width: calc(100% / 2 - 0.5rem) !important;
    border: 1px solid rgba(255, 255, 255, 0);

    &:hover {
      border: var(--style-border);
    }

    a.article-meta__categories {
      position: absolute;
      padding: 1px 8px;
      background: var(--ll-black-op);
      border-radius: 8px;
      margin-left: 0px;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 2em;
      color: var(--ll-white);
      top: 10px;
      left: 10px;
      backdrop-filter: saturate(180%) blur(20px);

      &:hover {
        background: var(--ll-btn-bg);
      }
    }

    &>.recent-post-info {
      padding: 2rem;
      margin: 0;

      &>.newPost {
        font-size: 14px;
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        background-color: var(--ll-main);
        padding: 0 .5em;
        border-radius: 0 0 0 10px;
      }

      &>.article-title {
        font-family: var(--fonts-heiti);
        font-weight: bold;
        -webkit-line-clamp: 2 !important;
        height: 3em;
        margin: 0 !important;

        &:hover {
          color: var(--ll-hovertext);
          transform: translateX(6px);
        }
      }

      &>.article-meta-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: .5rem 0 0 0 !important;

        &>.tags {
          .article-meta__tags {
            color: var(--ll-fontcolor);
            padding: 2px .25em;

            &:hover {
              background: var(--ll-btn-bg);
              color: var(--ll-btn-text);
              border-radius: .5em;

              .tags-punctuation {
                color: var(--ll-btn-text);
              }
            }

            .tags-punctuation {
              font-size: 14px;
              padding-right: 2px;
              color: #858585;
            }
          }

          &:before {
            content: none !important;
          }
        }

        a:hover {
          color: var(--ll-hovertext);
          text-decoration: none;
        }
      }
    }
  }
}

// 文章双栏布局微调end
// 打赏样式start
.post-reward {
  .reward-button {
    border-radius: 12px;
    font-size: 1.2em;
  }

  .reward-main {
    .reward-all {
      border-radius: 12px;
      box-shadow: 0 0 20px #bbb;

      .reward-item {
        padding: 0 16px;

        @include mobile {
          padding: 0 8px;
        }
      }
    }
  }
}

// 打赏样式end
// 上下篇、相关推荐start
#pagination>.prev-post .prev-cover::after,
#pagination>.next-post .next-cover::after,
.relatedPosts>.relatedPosts-list .cover::after {
  content: ' ';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#pagination>.prev-post:hover,
#pagination>.next-post:hover,
.relatedPosts>.relatedPosts-list>div:hover {
  background-color: var(--ll-main);

  .cover {
    transform: scale(1);
    opacity: 0;
  }
}

#pagination>.prev-post:hover .prev-cover,
#pagination>.next-post:hover .next-cover {
  transform: scale(1);
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .relatedPosts>.relatedPosts-list>div {
    width: calc(50% - 4px);
  }
}

// 上下篇、相关推荐end
// 水平分隔线图标start
hr {
  border-width: 2px !important;
  border-style: dashed hidden !important;
  border-color: var(--ll-main) !important;
  padding: 1px 0 !important;
  width: calc(100% - 4px);

  &:before {
    color: var(--ll-main) !important;
  }
}

// 水平分隔线图标end
// 隐藏右下角深浅色模式start
#rightside>div {
  &>a.icon-V.hidden {
    display: none;
  }

  &>button,
  &>a {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
}

// 隐藏右下角深浅色模式end