main#content-inner {
  padding: 0;
}

main #page {
  padding: 0;
}

main #page #post-comment {
  padding: 1.5rem;
}

main #article-container #moments .top #background {
  height: 200px !important;
}

main #article-container #moments .top #background #top-left {
  left: 1rem;
}

main #article-container #moments .top #background #top-right {
  right: 1rem;
}

main #article-container #moments .top .avatar {
  right: 1rem;
  top: 140px !important;
}

main #article-container #moments .top .avatar img {
  width: 80px;
}

main #article-container #moments .spacing {
  height: 2.5rem !important;
}

main #article-container #moments .one-comment {
  margin: 1rem;
  grid-template-columns: 50px auto;
  grid-gap: .6rem;
}

main #article-container #moments .one-comment .right .comment .author {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

main #article-container #moments .one-comment .right .comment .add {
  margin-bottom: 0;
}
