main {
  &#content-inner {
    padding: 0;
  }

  #page {
    padding: 0 !important;

    #post-comment {
      padding: 1.5rem;
    }

    #article-container #moments {
      .top {
        #background {
          height: 200px !important;

          #top-left {
            left: 1rem;
          }

          #top-right {
            right: 1rem;
          }
        }

        .avatar {
          right: 1rem;
          top: 140px !important;

          img {
            width: 80px;
          }
        }
      }

      .moments_items {
        padding: .5rem;
        padding-top: 3rem;

        .one-comment {
          margin: .5rem;
          grid-template-columns: 3rem auto;
          grid-gap: .6rem;

          .right {
            .comment {
              .author {
                font-size: 1.2rem;
                margin-bottom: 5px;
                line-height: 1.5rem;
              }

              .images {
                grid-gap: .5em;
                a img {
                  border-radius: .25rem;
                }
              }
            }

            .add {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}