@mixin mobile {
  @media screen and (max-width:768px) {
    @content;
  }
}

main#content-inner {
  padding: 1rem;
  max-width: 1000px;

  @include mobile {
    padding: 0;
  }

  #page {
    padding: 0 !important;

    h1.page-title {
      display: none;
    }

    #article-container {
      #moments {
        .top {
          position: relative;

          #background {
            height: 300px;
            overflow: hidden;
            display: grid;

            @include mobile {
              height: 200px;
            }

            img {
              grid-area: 1 / 1;
              width: 100%;
              height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
            }

            p {
              font-size: 1.5rem;
              margin: 0;
              color: var(--ll-lighttext);
              position: absolute;
              display: block;
              top: 1.5rem;
            }

            #top-left {
              left: 1.5rem;

              @include mobile {
                left: 1rem;
              }
            }

            #top-right {
              right: 1.5rem;

              @include mobile {
                right: 1rem;
              }
            }
          }

          .avatar {
            position: absolute;
            right: 3.5rem;
            top: 235px;

            @include mobile {
              right: 1rem;
              top: 140px;
            }

            #avatar {
              color: var(--ll-lighttext);
              font-size: 2rem;
              font-weight: bold;
              margin: 0 1rem 0 0;
              display: inline-block;
            }

            img {
              width: 100px;
              border-radius: 10px;
              display: inline-block;
              vertical-align: middle;

              @include mobile {
                width: 80px;
              }
            }
          }
        }

        .moments_items {
          padding: 5rem 40px 1rem 40px;

          @include mobile {
            padding: .5rem;
            padding-top: 3rem;
          }

          .one-comment {
            margin: 1rem;
            display: grid;
            grid-template-columns: 60px auto;
            grid-template-areas: "left right";
            grid-gap: 1rem;

            @include mobile {
              margin: .5rem;
              grid-template-columns: 3rem auto;
              grid-gap: .6rem;
            }

            .left {
              grid-area: left;

              img {
                border-radius: 6px;
              }
            }

            .right {
              grid-area: right;

              p {
                margin: 0;
              }

              .comment {
                margin: 0;

                p {
                  line-height: 1.5rem;
                }

                .author {
                  color: var(--ll-theme);
                  font-size: 1.5rem;
                  font-weight: bold;
                  line-height: 2.5rem;

                  @include mobile {
                    font-size: 1.2rem;
                    margin-bottom: 5px;
                    line-height: 1.5rem;
                  }
                }
              }

              .images {
                padding: 0;
                margin: .5rem auto;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: repeat(3, 1fr);
                grid-gap: 1rem;

                @include mobile {
                  grid-gap: .5em;
                }

                a {
                  display: grid;
                  width: 100%;
                  height: 0;
                  padding-bottom: 100%;
                  background: transparent;

                  img {
                    grid-area: 1 / 1;
                    width: 100%;
                    height: 100%;
                    border-radius: .5rem;
                    -o-object-fit: cover;
                    object-fit: cover;
                    overflow: hidden;

                    @include mobile {
                      border-radius: .25rem;
                    }
                  }

                  &:after {
                    content: none;
                  }

                  &:before {
                    content: "";
                    display: block;
                    grid-area: 1 / 1;
                    width: 100%;
                    padding-bottom: 100%;
                    height: 0;
                  }
                }
              }

              .add {
                font-size: 0.85rem;
                color: var(--ll-main);
                margin-top: .5rem;

                @include mobile {
                  margin-bottom: 0;
                }
              }

              .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: .5rem;

                .time {
                  font-size: 0.85rem;
                }

                .bber-reply {
                  color: var(--ll-btn-bg);
                  cursor: var(--ll-link) !important;
                  position: relative;

                  i {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    &.fa-solid {
                      display: none;
                    }
                  }

                  &:hover {
                    i.fa-solid {
                      display: var(--fa-display, inline-block);
                    }

                    i.fa-regular {
                      display: none;
                    }
                  }
                }
              }
            }

            &+hr {
              border-top: 1px dashed var(--ll-black-op);
            }
          }
        }

        .moments_more {
          display: flex;
          justify-content: center;

          &>a {
            padding: .5rem 1rem;
            margin: 0 .5rem;
            color: var(--ll-fontcolor);
            background: var(--ll-card-bg);
            box-shadow: var(--ll-shadow-main);
            border: var(--style-border-hover);
            border-radius: 6px;
            line-height: 1;

            &:hover {
              text-decoration: none;
              color: var(--ll-btn-text);
              background: var(--ll-btn-bg);
            }
          }
        }
      }
    }

    #post-comment {
      padding: 0 40px 1rem 40px;
      box-shadow: none;

      @include mobile {
        padding: 1.5rem;
      }
    }
  }
}