main#content-inner {
  padding-top: 20px;

  #page {
    padding: 0;
    background: transparent;
    box-shadow: none;

    h1.page-title {
      display: none;
    }

    #article-container {
      padding: 1rem 2rem 2rem;
      border-radius: 24px;
      background: var(--card-bg);
      box-shadow: var(--card-box-shadow);

      a {
        color: var(--ll-hovertext);
        padding: 0 5px;

        &:hover {
          text-decoration: none;
          background-color: var(--ll-btn-bg);
          color: var(--ll-lighttext);

          &::after,
          strong {
            color: var(--ll-lighttext);
          }
        }
      }

      ol {
        counter-reset: li 0;
        padding-left: 1rem;

        &>li {
          position: relative;
          padding-left: 1.75rem;

          &::marker {
            content: none;
          }

          &::before {
            background: var(--ll-theme);
            color: #fff;
            margin-top: .55em;
            width: 1.45em;
            height: 1.45em;
            border-radius: .725em;
            content: counter(li);
            counter-increment: li 1;
            text-align: center;
            font-size: .85em;
            line-height: 1.45em;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      .flink>h2>i,
      .flink+h2>i {
        padding-right: 0.5rem
      }

      .flink-desc {
        font-style: italic;
      }

      .flink-list>a.flink-list-card {
        padding: 0;
        border: var(--style-border);
      }

      .addBtn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &>span {
          cursor: url(/img/mouse/link.cur), auto !important;
          display: flex;
          align-items: center;
          margin: 5px auto;
          padding: .5em 1em;
          border-radius: 12px;
          background: var(--ll-theme-op);
          color: var(--ll-fontcolor) !important;
          border: var(--style-border);

          &:hover {
            background: var(--ll-btn-bg);
            color: var(--ll-btn-text) !important;
          }

          &>i {
            margin-right: .5em;
          }
        }
      }
    }
  }
}