@mixin mobile {
  @media screen and (max-width:768px) {
    @content;
  }
}

@mixin keyframes($animationName) {
  @keyframes #{$animationName} {
    @content;
  }
}

main#content-inner {
  padding-top: 20px;

  #page {
    padding: 0;
    background: transparent;
    box-shadow: none;

    h1.page-title {
      display: none;
    }

    .author-content-item.single {
      .card-content {
        .banner-button-group {
          display: flex;
          top: 3rem;

          @include mobile {
            top: auto;
          }

          .banner-button.secondary {
            margin-right: 1rem;
          }
        }
      }

      .tags-group-all {
        display: flex;

        &.nowrapMove {
          transform: rotate(0);
          margin-top: auto;
          overflow: hidden;
          position: absolute;
          left: 2px;
          bottom: 1.5rem;
          z-index: 2;
          width: 1265px;
          overflow: hidden;

          .tags-group-wrapper {
            display: flex;
            flex-wrap: nowrap;
            animation: rowup 120s linear infinite;

            @include keyframes(rowup) {
              from {
                transform: translateX(0);
              }

              to {
                transform: translateX(-50%);
              }
            }

            .tags-group-icon-pair {
              margin-left: 15px;

              .tags-group-icon {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: white;
                font-size: 66px;
                font-weight: bold;
                box-shadow: var(--ll-shadow-blackdeep);
                overflow: hidden;

                &:nth-child(even) {
                  margin-top: 1rem;
                  transform: translate(-60px);
                }

                &>img {
                  font-size: 1rem;
                  width: 60%;
                  min-width: 100%;
                  min-height: 100%;
                  border-radius: 50%;
                  object-fit: cover;
                }
              }
            }
          }
        }

        @include mobile {
          display: none;
        }
      }
    }

    #article-container {
      padding: 1rem 2rem 2rem;
      border-radius: 24px;
      background: var(--card-bg);
      box-shadow: var(--card-box-shadow);

      @include mobile {
        padding: 1rem;
      }

      a {
        color: var(--ll-hovertext);
        padding: 0 5px;

        &:hover {
          text-decoration: none;
          background-color: var(--ll-btn-bg);
          color: var(--ll-lighttext);

          &::after,
          strong {
            color: var(--ll-lighttext);
          }
        }
      }

      ol {
        counter-reset: li 0;
        padding-left: 1rem;

        &>li {
          position: relative;
          padding-left: 1.75rem;

          a:hover {
            border-radius: 5px;
          }

          &::marker {
            content: none;
          }

          &::before {
            background: var(--ll-theme);
            color: #fff;
            margin-top: .55em;
            width: 1.45em;
            height: 1.45em;
            border-radius: .725em;
            content: counter(li);
            counter-increment: li 1;
            text-align: center;
            font-size: .85em;
            line-height: 1.45em;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      #flink {
        h2.num {
          display: inline;
        }

        h2>i,
        &+h2>i {
          padding-right: 0.5rem
        }
      }

      #flink.flink_list .flink-desc {
        font-style: italic;
      }

      .flink_items>a.flink_item {
        padding: 0;
        border: var(--style-border);
      }

      .addBtn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &>span {
          cursor: var(--ll-link) !important;
          display: flex;
          align-items: center;
          margin: 5px auto;
          padding: .5em 1em;
          border-radius: 12px;
          background: var(--ll-theme-op);
          color: var(--ll-fontcolor) !important;
          border: var(--style-border);

          &:hover {
            background: var(--ll-btn-bg);
            color: var(--ll-btn-text) !important;
          }

          &>i {
            margin-right: .5em;
          }
        }
      }
    }
  }
}