:root {
  --font-color: var(--black);
  --ll-card-bg: var(--backcolor);
  --ll-card-bg-f: var(--white);
  --ll-fillet: 15px;
  --ll-maskbg: rgba(0, 0, 0, 0.6);
  --ll-border: 1px solid var(--forecolor);
  --global-bg: var(--backcolor);
  --btn-bg: var(--forecolor);
  --btn-hover-color: var(--forecolor);
  --light-grey: var(--white);
  --gradient-blue: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
  --gradient-green: linear-gradient(45deg, #18e198 50%, #0ec15d);
  --gradient-red: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

[data-theme="dark"]:root {
  --global-bg: var(--black);
  --font-color: var(--white);
  --ll-card-bg: var(--card-bg);
  --ll-card-bg-f: var(--card-bg);
}

:root {
  --forecolor: #ea517f;
  --backcolor: #f9d3e3;
  --white: #fff;
  --black: #000;
}

/* 
松石songshi: #75c1c4;
星灰xinghui: #b2bbbe;

品绿pinlv: #00828b
海棠haitang: #f03752

玄青xuanqing: #3d3b4f
黄丹huangdan: #e6755f

水绿shuilv: #8db799
小红xiaohong: #e6755f

盈盈yingying: #f9d3e3
莲瓣lianban: #ea517f

碧蓝bilan: #3eede7
粉红fenhong: ffb3a7

青莲: #801dae
桃红: #f091a1

 */