#article-container {
  #book {
    .book_list {
      .book_items {
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .book_item {
          width: calc(100% / 5 - 20px);
          height: auto;
          margin: 0 auto;
          color: var(--ll-theme);
          text-decoration-line: none;
          display: block;

          &[target=_blank]:after {
            content: none;
          }

          &:hover {
            transform: scale(1.03);
          }

          .cover {
            position: relative;

            label {
              line-height: 1.5;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              overflow: hidden;

              &:before {
                color: var(--ll-lighttext);
                font-family: 'Courier New';
                text-align: center;
                position: absolute;
                top: 35px;
                right: 35px;
                width: 200px;
                height: 3rem;
                font-size: 2rem;
                transform-origin: bottom center;
                transform: translate(50%, -100%) rotate(45deg) scale(0.5);
              }

              &.finish::before {
                background-color: rgba(250, 89, 95, 0.9);
                content: '读 完';
              }

              &.reading::before {
                background-color: rgba(241, 199, 154, 0.9);
                content: '在 读';
              }

              &.want::before {
                background-color: rgba(83, 102, 140, 0.9);
                content: '想 读';
              }
            }
          }

          .name {
            text-align: center;
            margin-top: .5em;
            line-height: 1.3em;
            font-size: 1rem;
            font-weight: bold;
          }

          .author {
            text-align: center;
            margin-top: .5em;
            line-height: 1.3em;
            font-size: .9rem;
            margin-bottom: 1rem;
          }
        }

        .placeholder {
          margin: 0 auto;
          display: block;
          width: calc(100% / 5 - 20px);
          height: auto;
        }

        .book-hide {
          display: none !important;
        }

        .book-show {
          display: block !important;
        }
      }

      .book-pagination {
        font-size: 15px;
        text-align: center;
        margin-top: 1rem;

        .book-button {
          padding: .5rem 1rem;
          margin: 0 .5rem;
          color: var(--ll-fontcolor);
          background: var(--ll-card-bg);
          box-shadow: var(--ll-shadow-main);
          border: var(--style-border-hover);
          border-radius: 6px;

          &:hover {
            text-decoration: none;
            color: var(--ll-btn-text);
            background: var(--ll-btn-bg);
          }
        }
      }
    }
  }
}