$technology: url(https://pic.iqjty.com/2023/02/25/63f9be0073739.webp) no-repeat;
$music: url(https://pic.iqjty.com/2023/02/25/63f9be01581ba.webp) no-repeat top;
$statistic: url(https://pic.iqjty.com/2023/02/25/63f9be01b6fde.webp) no-repeat top;
$map_dark: url(https://pic.iqjty.com/2023/02/25/63f9be0142f82.webp) no-repeat center;
$map: url(https://pic.iqjty.com/2023/02/25/63f9be00a066a.webp) no-repeat center;

@mixin mobile {
  @media screen and (max-width:768px) {
    @content;
  }
}

:root {
  --gap-divs: .5rem;
}

body {
  color: var(--ll-fontcolor);
}

main#content-inner.layout.hide-aside {
  padding-top: 0;

  #page {
    padding: 0;
    background-color: transparent;
    box-shadow: none;

    h1.page-title {
      display: none;
    }

    #about-page {
      font-family: var(--fonts-heiti);
      display: flex;
      padding-top: 1rem;
      flex-direction: column;
      align-items: center;

      .author-img {
        position: relative;

        &:before {
          content: '';
          width: 30px;
          height: 30px;
          background: #28a63f;
          position: absolute;
          border-radius: 50%;
          border: 5px solid var(--ll-white);
          bottom: 15px;
          right: 10px;
          z-index: 2;
          -webkit-transition: 1s;
          -moz-transition: 1s;
          -o-transition: 1s;
          -ms-transition: 1s;
          transition: 1s;

          @include mobile {
            bottom: 10px;
            right: 0px;
          }
        }

        img {
          width: 180px;
          height: 180px;
          border-radius: 50%;

          @include mobile {
            width: 120px;
            height: 120px;
          }
        }
      }

      .author-title {
        font-size: 2rem;
        font-weight: bold;
        line-height: 1;
        color: var(--ll-fontcolor);
        margin: 1rem 0;
      }

      .author-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 1rem;

        @include mobile {
          display: block;
          margin-top: 0rem;
        }

        .title1 {
          opacity: 0.9;
          line-height: 1.5;
        }

        .title2 {
          font-size: 2.5rem;
          font-weight: bold;
          line-height: 1.1;
          margin: 0.5rem 0;
        }

        h2 {
          font-size: 2rem;
          line-height: 1.1;
          letter-spacing: 2px;
          margin: 0;
        }

        .card-content {
          z-index: 2;

          @include mobile {
            padding: 1rem;
          }
        }

        .author-content-item {
          width: calc(100% / 2 - var(--gap-divs));
          padding: 1rem 2rem;

          @include mobile {
            width: 100% !important;
            margin-top: 1rem;
            padding: 1rem;
          }

          &-tips {
            line-height: 1;
            opacity: 0.6;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
          }

          &-title {
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 1.5;

            @include mobile {
              font-size: 2rem;
            }
          }

          .post-tips {
            font-size: 14px;
            position: absolute;
            bottom: 1rem;
          }

          &.myInfoAndSayHello {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--ll-white);
            background: var(--ll-logo-color);
            background-size: 200%;
            animation: gradient 15s ease infinite;
            width: calc(100% / 2 - var(--gap-divs));
          }

          &.aboutsiteTips {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: calc(25% - var(--gap-divs));

            #Tips {
              margin-top: auto;

              h2 {
                background-image: var(--gradient-blue);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &:nth-last-child(2) {
                  background-image: var(--gradient-green);
                }

                &:last-child {
                  background-image: var(--gradient-red);
                }
              }
            }
          }

          &.about-foreverblog {
            width: 100%;

            .time {
              font-size: 20px;
              display: flex;
              justify-content: space-between;
            }

            .progress {
              --height: 2.5rem;
              width: 100%;
              height: var(--height);
              border-radius: calc(var(--height) / 2);
              background-color: var(--ll-theme-op);
              margin-top: var(--gap-divs);
              border: var(--style-border);

              @include mobile {
                --height: 2rem;
                border-radius: 8px;
              }

              .progress-bar {
                height: 100%;
                text-align: right;
                line-height: var(--height);
                background: var(--gradient-red);
                border-radius: calc(var(--height) / 2);
                font-size: 14px;
                color: var(--ll-white);
                padding-right: 1em;
              }
            }
          }

          &.about-metaphysics {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: calc(25% - var(--gap-divs));

            #metaphysics {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-wrap: wrap;
              width: 100%;
              margin-top: auto;
              line-height: 1.5;

              &>div {
                display: flex;
                flex-direction: column;

                &>span:nth-of-type(1) {
                  font-size: 0.9rem;
                  margin-bottom: .5rem;
                  opacity: .8;
                }

                &>span:nth-of-type(2) {
                  font-size: 1.5rem;
                  font-weight: bold;
                }
              }
            }
          }

          &.personalities {
            width: calc(40% - var(--gap-divs));

            @include mobile {
              min-height: 230px;
            }

            .image {
              position: absolute;
              width: 45%;
              right: 1rem;
              bottom: -40%;
              transition: transform 2s cubic-bezier(0.13, 0.45, 0.21, 1.02);

              @include mobile {
                bottom: -20%;
              }

              img {
                transform: rotateY(0.5turn);
                width: 100%;
                height: 100%;
              }
            }

            [data-theme="dark"] img {
              filter: brightness(1);
            }

            &:hover .image {
              transform: rotate(-10deg);
            }
          }

          &.skills {
            width: calc(60% - var(--gap-divs));

            .skills-list {
              display: flex;
              flex-wrap: wrap;
              margin-top: 10px;

              .skill-info {
                display: flex;
                align-items: center;
                margin-right: 10px;
                margin-top: 10px;
                background: var(--ll-theme-op);
                border-radius: 40px;
                padding: 4px 12px 4px 8px;
                border: var(--ll-border);

                .skill-icon {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 8px;

                  img {
                    width: 18px;
                    height: 18px;
                  }
                }

                .skill-name {
                  font-weight: bold;
                  color: var(--ll-theme);
                }
              }

              .etc {
                margin-right: 10px;
                margin-top: 10px;
              }
            }
          }

          &.like-technology {
            color: var(--ll-lighttext);
            background: $technology;
            background-size: cover;
            min-height: 260px;

            @include mobile {
              min-height: 300px;
            }
          }

          &.like-music {
            color: var(--ll-lighttext);
            background: $music;
            background-size: cover;
            min-height: 400px;
            overflow: hidden;

            @include mobile {
              min-height: 300px;
            }
          }

          &.about-statistic {
            min-height: 380px;
            width: calc(40% - var(--gap-divs));
            color: var(--ll-lighttext);
            background: $statistic;
            background-size: cover;
            overflow: hidden;

            #statistic {
              font-size: 16px;
              border-radius: 15px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              flex-wrap: wrap;
              margin-top: 1rem;
              margin-bottom: 2rem;

              &>div {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                width: 50%;
                margin-bottom: 0.5rem;

                span:first-child {
                  opacity: 0.6;
                  font-size: 0.9rem;
                }

                span:last-child {
                  font-weight: bold;
                  font-size: 34px;
                  line-height: 1;
                  white-space: nowrap;
                }
              }
            }

            .post-tips a {
              color: var(--ll-lighttext) !important;

              &:hover {
                color: var(--ll-hovertext) !important;
              }
            }

            &:after {
              box-shadow: 0 -159px 173px 71px #0f1114 inset;
              position: absolute;
              content: '';
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
            }
          }

          [data-theme="dark"] &.map {
            background: $map_dark;
          }

          &.map {
            background: $map;
            background-size: 100%;
            height: 65%;
            min-height: 160px;
            max-height: 400px;
            margin-bottom: 1rem;
            position: relative;
            overflow: hidden;
            transition: 1s ease-in-out;

            @include mobile {
              margin-bottom: 0;
            }

            .map-title {
              font-size: 20px;
              left: 0px;
              width: 100%;
              bottom: 0px;
              position: absolute;
              color: var(--ll-fontcolor);
              background: var(--ll-maskbg);
              padding: 0.5rem 2rem;
              backdrop-filter: saturate(180%) blur(20px);
              -webkit-backdrop-filter: blur(20px);
              transition: 1s ease-in-out;

              @include mobile {
                padding: .5rem 1rem 1rem;
                font-size: 18px;
              }
            }

            &:hover {
              background-size: 160%;
              transition: 4s ease-in-out;
              background-position-x: 10%;
              background-position-y: 20%;

              .map-title {
                bottom: -100%;
              }
            }
          }

          &.selfInfo {
            display: flex;
            min-height: 100px;
            max-height: 400px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            height: -webkit-fill-available;
            height: 35%;

            @include mobile {
              height: auto;
            }

            div {
              display: flex;
              flex-direction: column;
              margin: 0.5rem 0;

              span:last-child {
                background-image: var(--gradient-blue);
              }

              &:nth-last-child(2) span:last-child {
                background-image: var(--gradient-green);
              }

              &:last-child span:last-child {
                background-image: var(--gradient-red);
              }
            }

            .selfInfo-title {
              opacity: 0.6;
              font-size: 0.9rem;
              line-height: 1;
              margin-bottom: 1rem;
            }

            .selfInfo-content {
              font-weight: bold;
              font-size: 34px;
              line-height: 1;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        .author-content-item-group.column {
          display: flex;
          flex-direction: column;
          width: calc(50% - var(--gap-divs));
          justify-content: space-between;

          &.mapAndInfo {
            width: calc(60% - var(--gap-divs));

            @include mobile {
              width: 100%;

              .selfInfo.single .selfInfo-content {
                font-size: 30px;
              }
            }

            &>* {
              width: 100%;
            }
          }
        }

        a {
          color: var(--ll-fontcolor) !important;

          &:hover {
            color: var(--ll-hovertext) !important;
          }
        }
      }

      a[target=_blank]:after {
        content: none;
      }
    }

    #article-container {
      padding-top: 1rem;
      background-color: var(--ll-card-bg);
      padding: 10px 2rem;
      margin-top: 1rem;
      border-radius: 24px;

      @include mobile {
        padding: 1rem;
      }

      h2 {
        font-family: var(--fonts-heiti);
      }

      p {
        text-indent: 2em
      }

      a {
        color: var(--ll-hovertext);
        padding: 0 5px;

        &:hover {
          text-decoration: none;
          background-color: var(--ll-btn-bg);
          color: var(--ll-lighttext);
          border-radius: 4px;

          &::after,
          strong {
            color: var(--ll-lighttext);
          }
        }
      }

      .flink-list-card {
        padding: 0;
      }
    }
  }
}